body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; 
}

#scrollContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 2000vh;
    width: 100%;
    z-index: 0;
    overflow-y: scroll; 

}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.modal {
    display: none; /* Hidden by default */
    
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 25%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}